#loader-style {
    height: 500px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainTxtLbl {
    background-color: wheat;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

.mainTxtData {
    text-align: left;
    margin-top: 15px;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}

.txtLbl {
    background-color: whitesmoke;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

.txtData {
    text-align: left;
    margin-top: 15px;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}